footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;

  gap: 32px;
}

footer .logo-container {
  background-color: rgb(61, 58, 58);
  padding: 24px;
  width: 100%;

  min-height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

footer .logo-container p {
  color: var(--light-text);
}

footer .logo-container img {
  width: 100px;
}



